body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #23360c 0%, #421e14 99%, #03270f 100%);
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    display: inline-block;
}

#video_feed {
    width: 1280px;
    height: 720px;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
